@charset "UTF-8";
@import url("../css/destyle.css"); /* HeightとWidthの初期値(100%) */
/* HeightとWidthの初期値の半分(50%) */
/* 余白関係 */
/* articleの幅 */
/* 丸み */
/* アイコンの幅 */
/* snsアイコンの幅 */
/* プログラミング言語の幅 */
/* Worksの画像の幅 */
/* Footerの高さ */
/* レスポンシブのmaxwidth */
/* 文字関係 */
/* 親要素の文字の大きさ */
/* サブタイトル(h2)の文字の大きさ */
/* 本文コンテンツ(p)の文字の大きさ */
/* 米印のフォントサイズ */
/* スマホとの比 */
/* 英語のフォント */
/* 日本語のフォント */
/* コピーライトのフォントカラー */
/* 背景画像 */
/* インデントの余白 */
html {
  font-size: 62.5%;
}

/* h1タイトル */
h1 {
  /* サイズ */
  width: 50%;
  /* スマホ用のサイズ */
  /* 中央寄せ */
  margin: 0 auto;
  /* タイトル画像 */
}
@media screen and (max-width: 600px) {
  h1 {
    width: 100%;
  }
}
h1 img {
  width: 100%;
}

/* ヘッダー */
.header {
  /* サイズ */
  width: 100%;
  height: 100vh;
  /* displayタイプ */
  display: flex;
  align-items: center;
  /* 背景 */
  background-image: url("../images/header_background.jpg");
  background-size: cover;
}
.header h1 {
  /* アニメ―ション */
  opacity: 0;
  animation-name: "";
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* メイン関係 */
.main {
  /* サイズ */
  width: 100%;
  /* profile, worksの共通 */
  /* profileのみ */
  /* Works */
}
.main section {
  /* アニメ―ション */
  opacity: 0;
  animation-name: "";
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  /* サイズ */
  width: 100%;
  height: 100%;
  /* 余白 */
  padding: 5%;
  /* article */
  /* サブタイトル */
  /* 本文コンテンツ */
  /* 本文 */
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.main section article {
  /* 中央寄せ */
  margin: 0 auto;
  /* サイズ */
  width: 75%;
  height: 40%;
  min-width: 800px;
  /* スマホ用のサイズ */
  /* 余白 */
  margin-top: 3%;
  /* 子要素を横並びにする */
  display: flex;
  /* スマホの時は横並びを解除 */
}
@media screen and (max-width: 600px) {
  .main section article {
    width: 100%;
    min-width: 0;
  }
}
@media screen and (max-width: 600px) {
  .main section article {
    display: block;
  }
}
.main section h2 {
  font-family: "Itim", sans-serif;
  font-size: 4.8rem;
  /* スマホ用のフォントサイズ */
}
@media screen and (max-width: 600px) {
  .main section h2 {
    font-size: 3.36rem;
  }
}
.main section .content {
  /* アイコンとコンテンツとの余白 */
  margin-left: 3%;
  /* 各カテゴリで上に余白 */
}
.main section .content > div {
  margin-top: 3%;
}
.main section p {
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 2.4rem;
  /* インデント */
  padding-left: 5%;
  /* スマホ用のフォントサイズ */
  /* プログラミング言語のみ */
}
@media screen and (max-width: 600px) {
  .main section p {
    font-size: 1.68rem;
  }
}
.main section p img {
  width: 5%;
  min-width: 40px;
}
.main section .note {
  font-size: 2rem;
  /* スマホ用のフォントサイズ */
}
@media screen and (max-width: 600px) {
  .main section .note {
    font-size: 1.4rem;
  }
}
.main section .note::before {
  content: "※";
}
.main .profile .container {
  /* アイコン */
}
.main .profile .container .icons {
  /* サイズ */
  width: 75%;
  min-width: 200px;
  margin: 0 auto;
  /* アイコン画像 */
  /* SNSアイコン */
}
.main .profile .container .icons > img {
  width: 100%;
  border-radius: 50px;
}
.main .profile .container .icons .sns {
  margin-top: 3%;
  text-align: center;
}
.main .profile .container .icons .sns img {
  width: 15%;
  margin: 0 3%;
}
.main .works article {
  /* 左側コンテナ */
  /* 右側コンテナ */
}
.main .works article .image {
  /* 画像 */
}
.main .works article .image img {
  height: 350px;
  border-radius: 50px;
}
.main .works article .content {
  /* Worksのサブタイトル */
}
.main .works article .content h2 {
  font-family: "Zen Maru Gothic", sans-serif;
}

/* フッター関係 */
.footer {
  /* サイズ */
  width: 100%;
  height: 20vh;
  /* displayタイプ, 中央寄せ */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* 背景 */
  background-image: url("../images/header_background.jpg");
  background-size: cover;
  /* コピーライト */
}
.footer p {
  font-size: 2rem;
  color: #555;
}/*# sourceMappingURL=style.css.map */