/* HeightとWidthの初期値(100%) */
$ResetWidth: 100%;
$ResetHeight: 100%;
$ResetHeightView: 100vh;

/* HeightとWidthの初期値の半分(50%) */
$HalfWidth: calc($ResetWidth / 2);
$HalfHeight: calc($ResetHeight / 2);

/* 余白関係 */
$margin: 3%;
$padding: 5%;

/* articleの幅 */
$ArticleWidth: 75%;
$ArticleHeight: 40%;
$ArticleMinWidth: 800px;

/* 丸み */
$Radius: 50px;

/* アイコンの幅 */
$IconWidth: 75%;
$IconMinWidth: 200px;

/* snsアイコンの幅 */
$SnsWidth: 15%;

/* プログラミング言語の幅 */
$ProgrammingWidth: 5%;
$ProgrammingMinWidth: 40px;

/* Worksの画像の幅 */
$WorkImageWidth: 350px;

/* Footerの高さ */
$FooterHeight: 20vh;

/* レスポンシブのmaxwidth */
$PhoneMaxWidth: 600px;

/* 文字関係 */
/* 親要素の文字の大きさ */
$ResetFontSize: 62.5%;
/* サブタイトル(h2)の文字の大きさ */
$SubTitleFontSize: 4.8rem;
/* 本文コンテンツ(p)の文字の大きさ */
$ContentFontSize: 2.4rem;
/* 米印のフォントサイズ */
$NoteFontSize: 2.0rem;
/* スマホとの比 */
$PhoneTimes: 0.7;

/* 英語のフォント */
$EnglishFontFamily: 'Itim';
/* 日本語のフォント */
$JapaneseFontFamily: 'Zen Maru Gothic';

/* コピーライトのフォントカラー */
$CopyrightFontColor: #555;

/* 背景画像 */
$bgImageUrl: "../images/header_background.jpg";

/* インデントの余白 */
$IndentPadding: $ContentFontSize;